
}
/*Leaned how to change from stackoverflow*/
#Nav a {
    color: white;
    background-color: black;
}
#Nav a:hover {
    color: #5F9EA0;
    text-decoration: underline;
}

#Nav #active:hover{
  color:#DCDCDC;
}

#active {
  background-color:#5F9EA0;
}




